.works {
  flex: 1;
  background-color: white;
  position: relative;
  height: 100vh;
  width: 100%;
}

.workflex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap
}

