.loading {
  height: 100vh;
  width: 100vw;
  z-index: 100000;
  background: rgba(255,255,255,.6);
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  font-size: 18px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-content: center;
}

.remindtext {
  margin: auto;
  height: 30px;
}