.containeradd {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
}

.imginput {
  display: none;
}

.previewimg {
  width: 300px;
}

.uploadbuttons {
  margin: 18px;
}